<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
    <title>Gender predictor</title>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{{url_for('index')}}">
                <img src="{{url_for('static',filename='images/gender.png')}}" alt="" width="50" height="50">
            
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav">
                <a class="nav-item nav-link" href="{{url_for('index')}}" style="font-size:30px">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="{{url_for('faceapp')}}" style="font-size:30px">FaceApp</a>
              </div>
            </div>
          </nav>
    </div>

    {% block bodyblock %}



    {% endblock  %}

<footer class="footer">
    <div class="container">
          <img src="{{url_for('static',filename='images/footer_main.png')}}" alt="" width="1110" height="100">
          <p style="color: rgb(0, 119, 255);" align="center">Thanks to FreeAI.space for the course</p>


    </div>
</footer>

<style>
    .footer{
        position: fixed;
        left:200px ;
        bottom: 0;
    }
    .content{
        color: #002f4d;

    }
</style>


</body>
</html>