{% extends 'base.html' %}


{% block bodyblock %}
    <div class="container">
        <br><br>
        <h3 class="content">Welcome to <span style="color: #198b90;">Gender Predictor</span></h3>
        <br>
        <p class="content">
            This app is driven by data and machine learning model. AS soon as you upload image,in the background it convert it into grayscale, crop face, convert into eigen image and finally it model to predict. All this functionality dumped in the flask app. Please click on FaceApp to try it.
        </p>
    </div>
{% endblock  %}